*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100%;
    width: 100%;
    
}

.navigation{
    height: 60px;
    background-color: #007BFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: white;
    text-transform: capitalize;
    position: sticky;
    top: 0;

}
.navigation>h1{
    font-size: 35px;
}
.navigation>ul{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 20px;

}

li{
    cursor: pointer;
    transition: all ease 0.5s;

}
li:hover{

    color: rgb(166, 236, 53);
    text-decoration: underline;
    
}

.main-content{
    display: flex;
    height: calc(100vh - 60px);
    background-image: url(assets/WhatsApp\ Image\ 2024-11-10\ at\ 17.08.55_5940e871.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sidebar{
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    width: 250px;
    height: 100%;
    min-height: calc(100% - 60px);
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: center;
}
.sidebar>ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    text-transform: capitalize;

}

.content-area{
    width: calc(100vw -  250px);
    background-color: rgba(255, 255, 255, 0.747);

    height: 100%;
    overflow-y: auto;
    padding: 20px;
    letter-spacing: 2px;
    font-size: 25px;
}